@import "compass/css3";

#bbpress-forums{

    .bbpvotes-score-wrapper{
        label{
        }
        span{
            font-weight:bold;
        }
        &.bbpvotes-score-author-wrapper{
            font-size: 11px;
            padding:1em 0;
        }
        &.bbpvotes-score-topic-wrapper{
            &:before{
                content:", ";
            }
        }
    }

    
    .bbpvotes-forum-sort-topics{
        margin-bottom:15px;
        display:block;
        text-align:right;
    }
    
    .bbp-reply-header{
        .bbp-admin-links{
            a.bbpvotes-post-vote-link {
              .bbpvotes-icon {
                display: none;
              }
              &.bbpvotes-db-loading .bbpvotes-icon-loading, &.bbpvotes-db-success .bbpvotes-icon-success, &.bbpvotes-db-error .bbpvotes-icon-error {
                display: inherit;
              }
            }
        }
    }
    .bbp-reply-content{
        

        
        .bbpvotes-post-votes-log {
            border-top: 1px dotted #ddd;
            width: 100%;
            margin: 0;
            padding: 8px 0 0 0;
            font-size: 11px;
            color: #aaa;
            a {
              position: relative;
              display: inline-block !important;
              margin: 2.5px !important;
              width: 30px;
              height: 30px;
              img {
                display: inline !important;
                vertical-align:top;
                @include box-shadow(none);
              }
              .bbpvotes-avatar-icon-vote {
                    position: absolute;
                    bottom: -2.5px;
                    right: -2.5px;
                    font-size: 1em;
                    width: 1em;
                    height: 1em;
                    color:white;
                    background-color:#C4C4C4;
                  
              }
            }
        }
    }

}