/* line 8, ../scss/bbpvotes.scss */
#bbpress-forums .bbpvotes-score-wrapper span {
  font-weight: bold;
}
/* line 11, ../scss/bbpvotes.scss */
#bbpress-forums .bbpvotes-score-wrapper.bbpvotes-score-author-wrapper {
  font-size: 11px;
  padding: 1em 0;
}
/* line 16, ../scss/bbpvotes.scss */
#bbpress-forums .bbpvotes-score-wrapper.bbpvotes-score-topic-wrapper:before {
  content: ", ";
}
/* line 23, ../scss/bbpvotes.scss */
#bbpress-forums .bbpvotes-forum-sort-topics {
  margin-bottom: 15px;
  display: block;
  text-align: right;
}
/* line 32, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-header .bbp-admin-links a.bbpvotes-post-vote-link .bbpvotes-icon {
  display: none;
}
/* line 35, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-header .bbp-admin-links a.bbpvotes-post-vote-link.bbpvotes-db-loading .bbpvotes-icon-loading, #bbpress-forums .bbp-reply-header .bbp-admin-links a.bbpvotes-post-vote-link.bbpvotes-db-success .bbpvotes-icon-success, #bbpress-forums .bbp-reply-header .bbp-admin-links a.bbpvotes-post-vote-link.bbpvotes-db-error .bbpvotes-icon-error {
  display: inherit;
}
/* line 45, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-content .bbpvotes-post-votes-log {
  border-top: 1px dotted #ddd;
  width: 100%;
  margin: 0;
  padding: 8px 0 0 0;
  font-size: 11px;
  color: #aaa;
}
/* line 52, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-content .bbpvotes-post-votes-log a {
  position: relative;
  display: inline-block !important;
  margin: 2.5px !important;
  width: 30px;
  height: 30px;
}
/* line 58, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-content .bbpvotes-post-votes-log a img {
  display: inline !important;
  vertical-align: top;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 63, ../scss/bbpvotes.scss */
#bbpress-forums .bbp-reply-content .bbpvotes-post-votes-log a .bbpvotes-avatar-icon-vote {
  position: absolute;
  bottom: -2.5px;
  right: -2.5px;
  font-size: 1em;
  width: 1em;
  height: 1em;
  color: white;
  background-color: #C4C4C4;
}
