a.bbpvotes-post-vote-link .bbpvotes-icon{
    display:none;
}
a.bbpvotes-post-vote-link.loading .bbpvotes-icon-loading,
a.bbpvotes-post-vote-link.success .bbpvotes-icon-success,
a.bbpvotes-post-vote-link.error .bbpvotes-icon-error{
    display:inherit;
}

#bbpress-forums .bbpvotes-post-votes-log{
  border-top: 1px dotted #ddd;
  width: 100%;
  margin: 0;
  padding: 8px 0 0 0;
  font-size: 11px;
  color: #aaa;
}
#bbpress-forums .bbpvotes-post-votes-log a{
    position:relative;
    display:inline-block!important;
    margin:2.5px;
    width:30px;
    height:30px;
}

#bbpress-forums .bbpvotes-post-votes-log a img{
    display:inline!important;
}

#bbpress-forums .bbpvotes-post-votes-log a .bbpvotes-avatar-icon-vote{
    position:absolute;
    bottom:-2.5px;
    right:-2.5px;
    font-size:1em;
    width:1em;
    height:1em;
}